template(name='account')
    .ui.container
        h1.ui.center.aligned.header 
            i.settings.icon
            |account
        |{{> atForm state='changePwd'}}
        h2.ui.header 
            i.mail.icon
            |email(s)
        .ui.segment
            .ui.divided.list
                each currentUser.emails
                    .item 
                        // unless verified
                        //     .right.floated.content
                        //         .ui.basic.button Verify
                        .content
                            |#{address}
                            if verified
                                .ui.green.basic.label verified
                            else
                                .ui.basic.label unverified
                                .send_verification_email.ui.basic.button verify
            .ui.action.fluid.input
                input#new_email(type='email')
                #add_email.ui.submit.blue.button add email address
        h2.ui.header 
            i.pencil.icon
            |change username 
        .ui.segment
            .ui.header current: #{currentUser.username}
            .ui.action.fluid.input
                input#username(type='text')
                #change_username.ui.submit.blue.button submit