template(name='marketplace')
    .ui.container
        // #marketplace_slider(style='width: 1500px; height: 500px;')
        //     .ls-slide(data-ls='slidedelay: 2000;')
        //         img.ls-bg(src="{{c.url 'vinetta' width=1500 height=500 crop='fill' gravity='north' effect='art:primavera'}}", alt='Slide background')
        //         h1.ls-l.overlay-text.slider-text(style="top: 50%; text-size: 300%;") 
        //             | Marketplace
        .ui.basic.segment
            .ui.stackable.grid
                .twelve.wide.column
                    +items
                .four.wide.column
                    +item_cloud
                    #add_item.ui.basic.fluid.button 
                        | Add Item

template(name='items')
    each items
        +item



template(name='item')
    .ui.card
        .image
            a(href="/items/view/#{_id}")
                if image_id
                    img.ui.fluid.image(src="{{c.url image_id height=400 width=800 crop='fill' gravity='north_west'}}")
        .content
            // .header
            h3.ui.header 
                a(href="/items/view/#{_id}") #{title}