template(name='home')
    .ui.container
        // +slider
        .ui.basic.center.aligned.segment
            h1.ui.header Hello World
            h1.ui.header I'm Eric Jackson and I do stuff
        .ui.stackable.two.column.grid
            .column
                .ui.segment
                    .ui.header Who
                    p I'm a web developer in Boulder, Co.  I build the internet to connect humans.
            .column
                .ui.segment
                    .ui.header What
                    p Build sites.  Learn tech.  Code.  Fight for the light. 
