template(name='home')
    // +slider
    .ui.basic.center.aligned.segment
        .ui.header Welcome to Jackson Web Design
        p We're here to help you with all of your digital needs.  
        
        
        
        
