.ui.text.container.segment
    h2.ui.header Favorites
    .ui.divided.vertical.list
        each favorites
            .item
                a(href="/view/#{_id}") #{title} 
                each tags
                    .ui.label #{this}
                +view_full_button
                +favorite
        